<div>
  <!-- disable buttons when $scope.isOver is not false -->
  <p>
    <button type="button" class="btn btn-default btn-lg" ng-click="addPlay('ball')">Ball</button>
  </p>
  <p>
    <button type="button" class="btn btn-default btn-lg" ng-click="addPlay('strike')">Strike</button>
  </p>
  <p>
    <button type="button" class="btn btn-default btn-lg" ng-click="addPlay('defensePlay')">
    Defensive Play</button>
  </p>
  <p>
    <button type="button" class="btn btn-default btn-lg" ng-click="addPlay('hit')">Hit</button>
  </p>
  <p>
    <button type="button" class="btn btn-default btn-lg" ng-click="addPlay('homerun')">Homerun</button>
  </p>
</div>
