<div class="panel scoreboard">
  <span class="scoreboard-label">Pitcher</span>
  <span class="scoreboard-letter scoreboard-player">{{stats.pitcher}}</span>
  <!--<span class="scoreboard-label">At Bat</span>
  <span class="scoreboard-letter">{{stats.at_bats}}</span>--> 
  <span class="scoreboard-label">Ball</span>
  <span class="scoreboard-letter">{{stats.balls}}</span> 
  <span class="scoreboard-label">Strike</span>
  <span class="scoreboard-letter">{{stats.strikes}}</span>
  
  <!--<span class="scoreboard-label">Guest</span>-->
  <span class="scoreboard-player scoreboard-label">{{p2}}</span>
  <span class="scoreboard-letter right">{{stats.p2_points}}</span>
  
  <!--<span class="scoreboard-label">Home</span>-->
  <span class="scoreboard-player scoreboard-label">{{p1}}</span>
  <span class="scoreboard-letter right">{{stats.p1_points}}</span>
  
</div>