
<div ng-init="getGame()">

  <!-- basic info -->
  <div>{{game.player1}} vs {{game.player2}}</div>
  <div>Winner: {{game.winner}}</div>

	<table class="table table-condensed table-hover">
  		<thead>
  			<tr>
  				<th>#</th>
          <th>At-Bat</th>
  				<th>Pitcher</th>
  				<th>Batter</th>
  				<th>Play</th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr ng-repeat="play in game.plays">
    			<td>{{ $index + 1 }}</td> 
          <td>{{ play.at_bat }}</td>
    			<td>{{ play.pitcher }}</td>
    			<td>{{ play.batter }}</td>
    			<td>{{ play.play }}</td>
  			</tr>
  		</tbody>
	</table>
  <div class="pull-right">
    <!--<a href="#">Edit</a> | --><a href="#" ng-click="onDeleteClick(game._id)">Delete</a>
  </div>
</div>
