
<div ng-init="getGames()">
 
	<table class="table">
  		<thead>
  			<tr>
  				<th>#</th>
  				<th>Player 1</th>
  				<th>Player 2</th>
  				<th>Winner</th>
          <th>Updated</th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr ng-repeat="game in games | orderBy:'updated_at'">
    			<td>{{ $index + 1 }}</td> 
    			<td>{{ game.player1 }}</td>
    			<td>{{ game.player2 }}</td>
    			<td>{{ game.winner }}</td>
          <td>{{ game.updated_at }}</td>
          <td><a class="btn btn-default btn-sm" href="#/games/details/{{game._id}}" role="button">Details</a></td>
  			</tr>
  		</tbody>
	</table>
</div>
