
<div ng-init="getPlayers()">
    
  <div class="panel panel-default" ng-repeat="player in players | orderBy: 'games':true">
    <img src="{{player.image_url}}" width="100" height="200" class="pull-left player-photo" />
    <div class="panel-body panel-player" >
      <ul class="player-info pull-left">
        <li class="bold">{{player.name}}</li>
        <li class="italics">{{player.nickname}}</li>
        <li>Games played: {{player.games}}</li>
        <li>Win%: {{player.win_perc}}</li>
        <li>Throws: {{player.throws}}</li>
        <li>Strike%: {{player.strike_perc}}</li>
        <li>At Bats: {{player.at_bats}}</li>
        <li>Hit%: {{player.hit_perc}}</li>
        <li>Walks: {{player.walks}}</li>
        <li>Base%: {{player.base_perc}}</li>
        <li><a href="#/players/edit/{{player._id}}">Edit</a></li>
        <!--<li><a href="#" ng-click="onDeleteClick(player._id)">Delete</a><li>-->

      </ul>

      <div ng-init="" class="pull-right"> 
        <canvas class="chart chart-radar"
          chart-data="data[player._id]" chart-labels="labels" chart-colours="colours[$index]">
        </canvas> 
      </div> 

    </div>
  </div> <!-- end repeat -->
  
  <a class="btn btn-default btn" href="#/players/add" role="button">Add Player</a>

</div>
