
<div ng-init="getPlayers()">
    
  <div class="panel panel-default" ng-repeat="player in players | orderBy: 'games':true">
    <!--<div class="panel-heading"></div>-->
    <div class="panel-body panel-player">

      <!-- awards -->
      <span ng-repeat="award in player.awards" class="pull-left">
        <!-- award season 1 -->
        <img src="/images/season1.png" class="award-icon" ng-show="award.name==='Season 1 Champion'" title="Season 1 Champion">
        <!-- award season 2 -->
        <img src="/images/season2.png" class="award-icon" ng-show="award.name==='Season 2 Champion'" title="Season 2 Champion">
        <!-- award season 3 -->
        <img src="/images/season3.png" class="award-icon" ng-show="award.name==='Season 3 Champion'" title="Season 3 Champion">
      </span>

      <img src="{{player.image_url}}" width="100" height="200" class="pull-left player-photo" />
      <ul class="player-info pull-left">
        <li class="bold">{{player.name}}</li>
        <li class="italics">{{player.nickname}}</li>
        <li>Games played: {{player.games}}</li>
        <li>Win%: {{player.win_perc}}</li>
        <li>Current win-streak: {{player.win_streak}}</li>
        <li>Throws: {{player.throws}}</li>
        <li>Strike%: {{player.strike_perc}}</li>
        <li>At Bats: {{player.at_bats}}</li>
        <li>Hit%: {{player.hit_perc}}</li>
        <li>Walks: {{player.walks}}</li>
        <li>Base%: {{player.base_perc}}</li>
        <li ng-show="player.bitches.length > 0">
          Bitches:
          <ul>
            <li span ng-repeat="bitch in player.bitches">{{ bitch }}</li>
          </ul>
        </li>
        <li><a href="#/players/edit/{{player._id}}">Edit</a></li>
        <!--<li><a href="#" ng-click="onDeleteClick(player._id)">Delete</a><li>-->

      </ul>

      <div ng-init="" class="pull-right"> 
        <canvas class="chart chart-radar"
          chart-data="data[player._id]" chart-labels="labels" chart-colours="colours[$index]" chart-options="chartOptions">
        </canvas> 
      </div> 

    </div>
  </div> <!-- end repeat -->
  
  <a class="btn btn-default btn" href="#/players/add" role="button">Add Player</a>

</div>
