
<div ng-init="getPlayers()">
    
  <div class="panel panel-default" ng-repeat="player in players">
    <img src="{{player.image_url}}" class="pull-left player-photo" />
    <div class="panel-body panel-player" >
      <ul class="player-info pull-left">
        <li>Name: {{player.name}}</li>
        <li>Nickname: {{player.nickname}}</li>
        <li>Games played: {{player.games}}</li>
        <li>Win%: {{player.win_perc}}</li>
        <li>Throws: {{player.throws}}</li>
        <li>Strike%: {{player.strike_perc}}</li>
        <li>At Bats: {{player.at_bats}}</li>
        <li>Hit%: {{player.hit_perc}}</li>
        <li>Walks: {{player.walks}}</li>
        <li>Base%: {{player.base_perc}}</li>
        <li><a href="#/players/edit/{{player._id}}">Edit</a></li>
        <!--<li><a href="#" ng-click="onDeleteClick(player._id)">Delete</a><li>-->

      </ul>

      <div ng-init="createChartData()" class="pull-right"> 
        <canvas class="chart chart-radar"
          chart-data="data[$index]" chart-labels="labels" chart-colours="colours[$index]">
        </canvas> 
      </div> 

    </div>
  </div> <!-- end repeat -->
  
  <a class="btn btn-default btn" href="#/players/add" role="button">Add Player</a>

</div>
