
<div class="hero-unit" ng-init="getPlayers()">
  <h3>Season 1</h3>
	<table class="table table-condensed">
  		<thead>
  			<tr>
          <th>Rank</th>
  				<th>Name</th>
  				<th>Games</th>
  				<th>Wins</th>
  				<th>Losses</th>
          <th>Win%</th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr ng-repeat="player in players | orderBy:'win_perc':true">
          <td>{{ $index + 1 }}</td>
    			<td>{{ player.name }}</td>
    			<td>{{ player.games }}</td>
    			<td>{{ player.wins }}</td>
          <td>{{ player.losses }}</td>
		      <td>{{ player.win_perc }}</td>
  			</tr>
  		</tbody>
	</table>

  <h3>Top 5 Pitchers</h3>
  <table class="table table-condensed">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Throws</th>
          <th>Strikes</th>
          <th>Balls</th>
          <th>Strike%</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in players | orderBy:'strike_perc':true | limitTo:5">
          <td>{{ $index + 1 }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.throws }}</td>
          <td>{{ player.strikes }}</td>
          <td>{{ player.balls }}</td>
          <td>{{ player.strike_perc }}</td>
        </tr>
      </tbody>
  </table>

  <h3>Top 5 Hitters</h3>
  <table class="table table-condensed">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>At Bats</th>
          <th>Hits</th>
          <th>Homeruns</th>
          <th>Hit%</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in players | orderBy:'hit_perc':true | limitTo:5">
          <td>{{ $index + 1 }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.at_bats }}</td>
          <td>{{ player.hits }}</td>
          <td>{{ player.homeruns }}</td>
          <td>{{ player.hit_perc }}</td>
        </tr>
      </tbody>
  </table>

  <h3>Top 5 Offense Players</h3>
  <table class="table table-condensed">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>At Bats</th>
          <th>Hits/Homeruns</th>
          <th>Walks</th>
          <th>Base%</th>
          <th>Pts per At-Bat</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in players | orderBy:'base_perc':true | limitTo:5">
          <td>{{ $index + 1 }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.at_bats }}</td>
          <td>{{ player.hits + player.homeruns }}</td>
          <td>{{ player.walks }}</td>
          <td>{{ player.base_perc }}</td>
          <td>{{ player.pts_per_atbat }}</td>
        </tr>
      </tbody>
  </table>

  <h3>Top 5 Defense Players</h3>
  <table class="table table-condensed">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Games</th>
          <th>Defense Plays</th>
          <th>DPs per Game</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in players | orderBy:'def_per_game':true | limitTo:5">
          <td>{{ $index + 1 }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.games }}</td>
          <td>{{ player.defense_plays }}</td>
          <td>{{ player.def_per_game }}</td>
        </tr>
      </tbody>
  </table>

  <h3>Top 5 Trash Talker</h3>
  <table class="table table-condensed">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Games</th>
          <th>Losses</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in players | orderBy:'win_perc':false | limitTo:5">
          <td>{{ $index + 1 }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.games }}</td>
          <td>{{ player.losses }}</td>
        </tr>
      </tbody>
  </table>
</div>
